@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: hidden;
  background-color: rgba(255, 0, 98, 0.178);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.left {
  color: cornflowerblue;
  font-weight: 900;
  font-size: 40px;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

header>nav>.right>ul>a {
  cursor: pointer;
  transition: all 0.5s;
  color: black;
  text-decoration: none;
}

header>nav>.right>ul>a:hover {
  color: cornflowerblue;
}

.mbi {
  background-image: url('https://media.istockphoto.com/photos/classmates-are-learning-through-laptop-picture-id1323851976?b=1&k=20&m=1323851976&s=170667a&w=0&h=k6GktX8QclakdewhDzTed3Patq25lhb3HznyyB71-1I=');
  height: 30rem;
  width: 100%;
  margin-bottom: -5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

header,
main {
  margin: 1rem;
}


.mbt {
  padding: 1rem;
  border: 3px solid cornflowerblue;
  position: absolute;
  top: 30%;
  margin: 0;
  left: 15%;
  width: 30rem;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color-scheme: cornflowerblue, white, black, gray;
}

.mbt>h1 {
  font-size: 30px;
}

.mbt>span {
  color: white;
  font-size: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 2px solid gray;
}

.intro>h1 {
  text-align: center;
}

h2 {
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
}

label,
button {
  color: white;
  background-color: rgb(253, 0, 139);
  padding: 0.75rem 2rem;
  border-radius: 100px;
  border: 0px;
  cursor: pointer;
}

.textdiv {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  width: 50rem;
  min-height: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
}

textarea {
  width: 40rem;
  min-height: 15rem;
  resize: none;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}


.uploaddiv {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a>img {
  transition: all 0.5s;
}

a>img:hover {
  background-color: cornflowerblue;
  background-blend-mode: color;
}

object {
  border: 1px solid cornflowerblue;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#qa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0.5rem;
  transition: all 0.5s;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  height: 20px;
  width: 50px;
  border-radius: 10px;
  padding: 2.5px;
  transition: all 0.5s;
}

#q,
#a {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#q {
  background-color: white;
}

#a {
  background-color: black;
  opacity: 0;
}

.upload {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#emptydiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

footer {
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 1rem 10%;
}

footer>nav>ul>a,
a:last-of-type {
  color: white;
  transition: all 0.5s;
  text-decoration: none;
}

a:last-of-type:hover,
footer>nav>ul>a:hover {
  color: cornflowerblue;
}

.merit {
  display: flex;
  justify-content: center;
}

footer>div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .mbt {
    position: relative;
    left: 0;
    width: 35rem;
    height: 10rem;
    background-color: gray;
    border: 0px;
    margin-bottom: 10rem;
  }

  .intro,
  textarea,
  h2 {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  footer>div>ul,
  footer>nav>ul,
  .merit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}